**/node_modules
**/.idea
**/wizardlabs-core-*.json
# TODO <@AutomationD>: This should be done on the user's machine level (IE in ~/.gitignore_global).
.DS_Store
**/.env

*.iml

bastion.sock
__pycache__
sftp-config.json
.env*
