### Terraform Changes  with sha: {{if .Env.sha_short}}{{ .Env.sha_short }}{{else}}nutcorpnet-tf-state{{end}}
<details><summary>Expand to view details</summary><p>

```
{{file.Read "/temp/tfplan.txt"}}
```

</p></details>
