### Terraform Changes  {{env.ExpandEnv "(${SHORT_SHA})"}} {{env.ExpandEnv "by ${GITHUB_ACTOR}"}}
{{env.ExpandEnv "On commit:${GITHUB_COMMIT_MESSAGE}"}}
<details><summary>Expand to view details</summary><p>

```
{{file.Read "/temp/tfplan.txt"}}
```

</p></details>
